*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /* Para que las cajas no se desborden unas con otras */
}
body{
    font-family: 'Raleway', sans-serif;
}
a{
    text-decoration: none; /* De este modo no debo quitarlo uno por uno */
}
.padre{
    display: flex; /* 1- flex */
    flex-flow:column nowrap; /*2- Para que todo se adapte segun el tamano establecido */
}
.margen-interno{/* Margen para que no se pegue a los costados de la pantalla, Lo aplicamos a cada padre MENU , SECTION Y FOOTER */
 padding: 0px 50px;
}
.header{
    background-position: center;
    background-attachment: contain; /* Que este contenida en el header */
    background-size: cover; /* Que no se agrande */
    display: flex;
    flex-flow: column nowrap;
}
.menu{ /* A1 */
    background: rgba(0,0,0,.3); /* Color transparente */
    display: flex; /* 1- FLEX PADRE Simplemente permito que puedan moverse*/
    flex-flow: row nowrap; /* 2- FLEX PADRErow columnas, nowarp una misma linea de los elementos en contenedor PADRE */
    height: 60px; /* Para darle mas altura */
    align-items: center; /* 3- FLEX PADRE centrados verticalmente */
    border-bottom: 1px solid rgba(255,255,255,.5); /* borde inferior del nav */
    
}
.logo{
 flex: 1 1 auto; /* 3- modifico los anchos en cada elemento HIJO */ 
}
/* .logo a{
    color: #fff;
    font-size: 30px; 
}*/
/* .logo a:hover{
    color: #343434;
} */
.logo img{
    width:30%;
    margin: 0px;
    margin-top: 4px;
    flex: 1 1 auto;
}  
.nav{
    flex: 1 1 80%;
    display: flex; 
}
.nav a{
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;/*Para que sea en letras mayusculas */
    padding: 0px 10px;
    letter-spacing: 2px; /* Para separar letras en 2px c/u */
    border-radius: 5px; 
    padding: 10px;
}
.nav a:hover{
    background: rgba(181,61,99,.5);
    /* background:rgba(0,0,0,.5);  */
}
.social{
    flex: 1 1 auto;
    display: flex;
}
.social a{
 font-size: 18px;
 color: #fff;
 padding: 0 5px;
}
.social a:hover{
    color: #343434;
}
i{margin-right: 5px;
}


.aside{
 /* background: #a8df65; */
 flex: 1 1 30%;
 margin: 30px 5px 10px 0px;
 /* background: #d9d9da; */
 background: #e6d5ca;
 padding: 15px 15px 45px 15px;
}
.footer{
    background: #0e2654;
    display: flex; /* 1 flex padre */
    justify-content: center; /* 4- FLEX PADRE centrado horizontalmente */
    margin: 0;
    padding: 10px;
}
.pie{
    /* background-color: #feb72b; */
    text-align: center;
    margin: 0;
}
.pie a{
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0px 10px;
    letter-spacing: 2px;
}



.section{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 30 px;
}

.articulo{
    flex: 1 1 5;
    padding: 20px;
    margin-left: 10px;
    line-height: 12px;
}

iframe{ 
    width: 850px; 
    height: 600px; 
    border: none; 
    border-radius: 5px;
    margin-top: 22px;
}


/*ASIDE- EFECTO CONTENIDO TRASLADABLE */
.center{
    display: flex; /* FLEXBOX */
    justify-content: center;
    align-items: center;
}
.main{
    width: 100%;
    height: 100vh;
}
.box{
    width: 400px;
    height: 600Px;
    background-color:/*  rgb(196, 181, 196) */ #70b3a7;
    color: black;
    border-radius: 5px;
    flex-direction: column; /* FLEXBOX */
    position: relative; /* ATRIBUTO EFECTO */
    overflow: hidden; /* ATRIBUTO EFECTO- OCULTO */
    
}
.box a{
    color: black;
}
.box img{
    position: absolute; /* ATRIBUTO EFECTO */
    top: 0;
    left: 0;
    width: 400px; /* = medida que el box */
    height: 600px;
    transition: all 1s; /* Velocidad de desplazamiento de la imagen  */
    
}

.box:hover img{

    width: 190px;
    height: 190px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    position: relative;
   
}
/* .container:hover{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin-top: -30px;
} */
.info{
    padding: 22px;
    position: relative;
    overflow: hidden;
}

.info h3{
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  transform: translateY(410px); /* ATRIBUTO EFECTO, cuanto mayor este valor iba desapareciendo el texto posicionado encima de la imagen */
  transition: all 1.2s; /* ATRIBUTO EFECTO, el valor debe ser menos que el de los p para que al deslizarse no se superpongan */
}

.info P{
    text-align: justify;
    line-height: 20px;
    padding:0;
    font-size: 14px;
    transform: translateY(400px); /* ATRIBUTO EFECTO */
    transition: all 1.2s; /* ATRIBUTO EFECTO */ 
}


.info:hover h3{transform: translateY(16px);} /* ATRIBUTO EFECTO */
.info:hover p{transform: translateY(16px);} /* ATRIBUTO EFECTO */



